/*
   用于对wxml的一些字符串的截取
   WXS 中不能调用 javascript 中定义的函数或者变量
*/

//eg: 2021-08-07T11:48:42.655+08:00  -> 2021-08-07 11:48   害现在不需要了，现在自己写前后端跑就是爽
var timeSub = function (time) {
  return time.substring(0, 10) + " " + time.substring(11, 16)
}

var timeSub_noTime = function (time) {
  return time.substring(0, 10)
}

var timeSub_yearMonth = function (time) {
  var year = time.substring(0, 4)
  var month = time.substring(5, 7)
  var date = year + "年" + month + "月"
  return date
}

var timeSub_MonthDay = function (time) {
  var month = time.substring(5, 7)
  var day = time.substring(8, 10)
  if (month[0] == '0') month = month[1]
  if (day[0] == '0') day = day[1]
  var date = month + "月" + day + "日"
  return date
}

//eg: upload/notices/59/20210612会议纪要.docx  -> 20210612会议纪要.docx
var fileNameSub = function (fileName) {
  var idx = fileName.indexOf("/", 15);
  return fileName.substring(idx + 1);
}

module.exports = {
  timeSub: timeSub,
  fileNameSub: fileNameSub,
  timeSub_noTime: timeSub_noTime,
  timeSub_yearMonth: timeSub_yearMonth,
  timeSub_MonthDay: timeSub_MonthDay,
}